@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@600&family=Space+Grotesk:wght@300;400;500;600;700&family=&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(/bg.png);
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Variables */
  --text-wrap-size: 23%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Dark mode */
  --text-color: #ffffff;
  --background-color: rgba(0, 0, 0, 0.535);
  --border-color: rgb(81, 81, 81);
  --1: rgba(255, 255, 255, 0.178);
}

/* Tags Config */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}

/* Navbar */
.navbar{
  background-color: var(--background-color);
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.navbar-items{
  float: left;
}

.navbar-items a {
  font-family: "Space Grotesk", sans-serif;
  display: block;
  color: var(--text-color);
  text-align: center;
  margin: 24px 10px;
  padding: 4px 16px;
  text-decoration: none;

  border-style: solid;
  border-color: var(--1);
  border-radius: 8px;
  border: transparent;
  background-color: var(--1);
  font-size: 20px;
}

.navbar-items img {
  transform: translateY(7px);
}

.navbar-items button {
  font-family: "Space Grotesk", sans-serif;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: #00000000;
}

/* Main Content */
.main-text {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  word-wrap: normal;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.main-text span {
  letter-spacing: 20px;
  font-weight: bold;
}

.main-text p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 20px;
}

.app-img {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

/* Quotes (idk why i called it reviews) */
.reviews {
  font-weight: 500;
}

.reviews img {
  display: inline-block;
}

.reviews p {
  display: inline-block;
}

.spacer {
  height: 20px;
}

/* Quotes config */
.main-text #t1 {
  transform: translateX(-300px) translateY(100px) rotate(-9deg);
  font-size: 16px;
}

.main-text #t2 {
  transform: translateX(-550px) translateY(250px) rotate(9deg);
  font-size: 16px;
}

.main-text #t3 {
  transform: translateX(500px) translateY(250px) rotate(-9deg);
  font-size: 16px;
}

.main-text #t4 {
  transform: translateX(240px) translateY(100px) rotate(9deg);
  font-size: 16px;
}

/* Final message */
.globe {
  margin-left: 50vh;
  margin-right: 50vh;
}

.tagline {
  font-weight: 700;
  font-size: 30px !important;
  margin-top: 0px;
}

.dl-btn {
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  color: var(--text-color);
  padding: 4px 16px;
  text-decoration: none;

  border-style: solid;
  border-color: var(--1);
  border-radius: 8px;
  border: transparent;
  background-color: var(--1);
  font-size: 20px;
}