@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap");

$text-color: #edf0f3;
$background-color: #11191f;
$ligher-bg: lighten($background-color, 5%);
$border-color: rgb(81, 81, 81);
$border-color2: rgba(255, 255, 255, 0.178);
$nav-color: #733380;

.no-fucking-hover:hover {
  background-color: darken($nav-color, 7%);
}

nav {
  z-index: 11;
  position: fixed;
  width: 100%;
  background-color: darken($nav-color, 2%);
  padding: 6px 15px;

  li {
    padding: 5px 10px 5px 10px;

    .home-logo:focus {
      background-color: $nav-color;
      border: none;
    }

    .nav {
      background-color: darken($nav-color, 5%);
      border-color: darken($nav-color, 5%);

      & a:focus {
        background-color: inherit;
        border-color: inherit;
      }

      &:active,
      &:hover {
        background-color: darken($nav-color, 7%);
        border-color: darken($nav-color, 7%);
      }
    }

    a {
      color: $text-color;
      font-weight: 700;

      .logo {
        background-color: $text-color;
        border: 3px solid $text-color;
        border-radius: 100px;
      }

      strong {
        padding-left: 10px;
        font-size: 1.2rem;
        color: $text-color;
      }
    }
  }

  details {
    margin-top: 13px;
    .dropdown {
      background-color: darken($nav-color, 7%);
      border-color: darken($nav-color, 7%);
      height: 10px;
      font-size: 1.8rem;
    }
  }
}

.top {
  height: 600px;
  .background {
    background-image: url("/topBg.png");
    background-size: cover;
    opacity: 0.6;
    height: 600px;
  }

  .content {
    position: relative;
    top: -16.5rem;
    display: grid;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 2.7rem;
      text-shadow: rgb(0, 0, 0) 3px 0px 0px,
        rgb(0, 0, 0, 0.6) 2.83487px 0.981584px 0px,
        rgb(0, 0, 0, 0.6) 2.35766px 1.85511px 0px,
        rgb(0, 0, 0, 0.6) 1.62091px 2.52441px 0px,
        rgb(0, 0, 0, 0.6) 0.705713px 2.91581px 0px,
        rgb(0, 0, 0, 0.6) -0.287171px 2.98622px 0px,
        rgb(0, 0, 0, 0.6) -1.24844px 2.72789px 0px,
        rgb(0, 0, 0, 0.6) -2.07227px 2.16926px 0px,
        rgb(0, 0, 0, 0.6) -2.66798px 1.37182px 0px,
        rgb(0, 0, 0, 0.6) -2.96998px 0.42336px 0px,
        rgb(0, 0, 0, 0.6) -2.94502px -0.571704px 0px,
        rgb(0, 0, 0, 0.6) -2.59586px -1.50383px 0px,
        rgb(0, 0, 0, 0.6) -1.96093px -2.27041px 0px,
        rgb(0, 0, 0, 0.6) -1.11013px -2.78704px 0px,
        rgb(0, 0, 0, 0.6) -0.137119px -2.99686px 0px,
        rgb(0, 0, 0, 0.6) 0.850987px -2.87677px 0px,
        rgb(0, 0, 0, 0.6) 1.74541px -2.43999px 0px,
        rgb(0, 0, 0, 0.6) 2.44769px -1.73459px 0px,
        rgb(0, 0, 0, 0.6) 2.88051px -0.838247px 0px;
      margin-bottom: 1rem;
    }

    .downloads {
      display: flex;
      justify-content: center;

      button {
        margin: 0 5px;
        background-color: $nav-color;
        border-color: $nav-color;
        width: auto;

        &:hover {
          background-color: darken($nav-color, 7%);
          border-color: darken($nav-color, 7%);
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }
}

.main-content {
  transition: all 0.5s 0s ease;
  article {
    margin: 0;
    box-sizing: none;
  }

  .what {
    background-color: inherit;

    height: auto;

    h1 {
      display: inline-block;
      padding-top: 4rem;
      padding-left: 5rem;
      font-size: 2.5rem;
      font-weight: 400;
      transition: all 0.5s 0s ease;
    }

    img {
      float: right;
      margin-right: 5rem;
      margin-top: 4rem;
      box-shadow: 0px 0px 89px -16px rgba(0, 0, 0, 0.75);
      transition: all 0.5s 0s ease;
    }

    p {
      width: 25rem;
      font-size: 1.2rem;
      margin-left: 5rem;
      transition: all 0.5s 0s ease;
    }
  }

  .features {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-weight: 400;
    }

    .items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .item {
        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .fa-user-gear,
        .fa-computer {
          padding: 0.7rem 0.5rem;
          display: inline;
          border: 8px solid $nav-color;
          background-color: $nav-color;
          border-radius: 100px;
          text-align: center;
          font-size: 2rem;
        }

        i {
          padding: 0.7rem;
          display: inline;
          border: 6px solid $nav-color;
          background-color: $nav-color;
          border-radius: 100px;
          text-align: center;
          font-size: 2rem;
        }

        span {
          font-size: 1.2rem;
          padding-top: 5px;
        }
      }
    }
  }
}

.oops {
  overflow: hidden;
  margin: 0px 15px;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.donating {
  transition: all 0.5s 0s ease;
  position: absolute;
  top: 60px;
  margin: 2.5rem 1rem;

  .content {
    h1 {
      text-align: center;
      padding: 0;
      margin-bottom: 1rem;
      font-size: 2.2rem;
      transition: all 0.5s 0s ease;
    }

    p {
      font-size: 1rem;
      margin-bottom: 10px;
      transition: all 0.5s 0s ease;
    }

    .wallets-btn {
      display: flex;
      justify-content: space-around;

      button {
        background-color: darken($nav-color, 7%);
        border-color: darken($nav-color, 7%);
        padding: 10px;
        margin: 0 3px;
        width: auto;
        font-size: 16px;
      }
    }
  }
}

// Media queries for the "What is PBP section"
@media screen and (max-width: 1570px) {
  .main-content .what {
    h1 {
      display: inline-block;
      padding-top: 4rem;
      padding-left: 4rem;
      font-size: 2.5rem;
      font-weight: 400;
    }

    img {
      margin-top: 2.4rem;
      margin-right: 4rem;
      width: 600px;
    }

    p {
      width: 25rem;
      font-size: 1.2rem;
      margin-left: 4rem;
    }
  }
}

@media screen and (max-width: 1436px) {
  .main-content .what {
    h1 {
      padding-left: 2.5rem;
    }

    img {
      margin-top: 2.4rem;
      margin-right: 2.5rem;
      width: 600px;
    }

    p {
      width: 25rem;
      font-size: 1.2rem;
      margin-left: 2.5rem;
    }
  }
}

@media screen and (max-width: 1347px) {
  .main-content .what {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      padding: 0;
    }

    p {
      padding-bottom: 30px;
      width: auto;
      font-size: 1.2rem;
      margin: 0;
    }
  }
}

@media screen and (min-width: 2100px) {
  .main-content .what img {
    width: 890px;
    float: right;
    margin-right: 5rem;
    margin-top: 4rem;
    box-shadow: 0px 0px 89px -16px rgba(0, 0, 0, 0.75);
    transition: all 0.5s 0s ease;
  }
}

@media screen and (min-width: 2393px) {
  .main-content .what img {
    width: 1100px;
    float: right;
    margin-right: 5rem;
    margin-top: 4rem;
    box-shadow: 0px 0px 89px -16px rgba(0, 0, 0, 0.75);
    transition: all 0.5s 0s ease;
  }
}
// End of media queries for the "What is PBP section"

// Media queries for the main title "Unify your..."
@media screen and (max-width: 850px) {
  .top .content h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 728px) {
  .top .content {
    h1 {
      font-size: 2.2rem;
    }

    .downloads button i {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 641px) {
  .top .content {
    h1 {
      font-size: 2.5rem;
    }

    .downloads button i {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .top .content {
    h1 {
      font-size: 2.4rem;
    }

    .downloads button i {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 464px) {
  .top .content {
    h1 {
      font-size: 2.1rem;
    }

    .downloads button i {
      font-size: 1.2rem;
    }
  }
}
// End of media queries for the main title "Unify your..."

// Media queries for the features section
@media screen and (max-width: 886px) {
  .main-content .features .items {
    .item {
      span {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 721px) {
  .main-content .features .items {
    .item {
      span {
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 667px) {
  .main-content .features {
    .items {
      display: block;

      .item {
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}
// End of media queries for the features section

// Media queries for the donating page
@media screen and (max-width: 1121px) {
  .donating .content {
    h1 {
      font-size: 2.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 1018px) {
  .donating .content {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 0.75rem;
    }
  }
}

// This was the only option other than cutting it off earlier
// (sigh) guess this will have to do
// @media screen and (max-width: 829px) {
//   .donating .content {
//     h1 {
//       font-size: 1.8rem;
//     }

//     p {
//       font-size: 0.6rem;
//     }
//   }
// }
