@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #530000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Variables */
  --text-wrap-size: 23%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Dark mode */
  --text-color: #ffffff;
  --background-color: rgba(0, 0, 0, 0.676);
  --border-color: rgb(81, 81, 81);
  --1: rgba(255, 255, 255, 0.178);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.navbar-items{
  float: left;
}

.navbar-items a {
  font-family: "Space Grotesk", sans-serif;
  display: block;
  color: var(--text-color);
  text-align: center;
  margin: 24px 7px;
  padding: 4px 16px;
  text-decoration: none;

  border-style: solid;
  border-color: var(--1);
  border-radius: 8px;
  border: transparent;
  background-color: var(--1);
  font-size: 20px;
}

.navbar-items img {
  transform: translateY(7px);
}

button{
  cursor: pointer;
}

.navbar-items button {
  font-family: "Space Grotesk", sans-serif;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: #00000000;
}

.main-content {
  margin-left: 250px;
}

.main-text {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  word-wrap: normal;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.main-text span {
  letter-spacing: 20px;
  font-weight: bold;
}

.main-text p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 20px;
}

.reviews {
  font-weight: 500;
}

.main-text #t1,
.main-text #t3 {
  transform: translateX(-50px);
}

.main-text #t2,
.main-text #t4 {
  transform: translateX(60px);
}

.globe {
  margin-left: 50vh;
  margin-right: 50vh;
}

.tagline {
  font-weight: 700;
  font-size: 30px !important;
}

.main-text a {
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  display: inline;
  color: var(--text-color);
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;

  border-style: solid;
  border-color: var(--1);
  border-radius: 8px;
  border: transparent;
  background-color: var(--1);
  font-size: 20px;
}

.bg {
  background-color: var(--background-color);
}

.faq-page {
  margin-left: 50px;
  margin-top: 1%;
  padding-left: 1%;
}

.faq-page p {
  font-size: 20px;
  padding-right: 30%;
}

.faq-time a {
  color: rgb(0, 116, 212);
}

.spg {
  font-family: "Space Grotesk", sans-serif;
}